/*estilos de nosotros*/

/*trabajo con etiquetas padre*/
.header-nosotros{
    background-color: tomato;
    display: flex;
    justify-content: center;
    h1{
        color: black;
        text-transform: uppercase;
    }
    nav{
        background-color: violet;
        ul{
            display: flex;
            justify-content: center;
            li{
                color: white;
            }
        };
    }
}